*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
  width: 100%;

  background: #1e3a8a;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  gap: 60%;
}

.logo h1 {
  font-size: 26px;
  font-weight: 600;
}
body{
    width: 100%;
}

.list a{
 gap: 30px;
 padding: 20px;
  

 
}

.list a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease;
  font-weight: 500;
}

.list a:hover {
  color: #93c5fd;
}
